a{
  text-decoration: none;
  color: red;
}
#cajadescripcion{
	text-align: center;
  border-bottom: 1px solid white;
}
#footer{
	background: black;
  text-align: center;
	font-size: 0.7em;

}
#facebook{
	background: #3B5998;
  width: 100%;
  text-align: left;    
}
#twitter{
	background: #4099FF;
  width: 100%;
  text-align: left; 
}
#menu{
	border-radius: 3px;
	background: #4099FF;
 border-top: 2px #4099FF;
  border-left: 2px #4099FF;
  border-bottom: 2px #4099FF
}
 #cabesa{
	background: black;
}
#panel{
	background: #4099FF;
	border-radius: 1px;
}
#prueba{
  box-shadow: 
  0 1px 2px #fff,
  0 -1px 1px #666, 
  inset 0 -1px 1px rgba(0,0,0,0.5), 
  inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/ 

}

#list{
	border-radius: 1px;
}

.descripcion{
	color: white ;
	font-size: 1em;
	
}
.platillo{
	font-size: 1.2em;
	color: #ffebcd;
	
}
.precio{
	color:aqua;
	
}
.indicates{
	color:white;
}
.prueba{
  font-size:30px;
}
#page1 {
    padding:0px;
    background-color: grey;
    border-radius: 1px;
}
.logo{
  width: 60%;
  height: 2.3em;
  padding-left: 30%;
  
}
/*#input {
    padding:10px 60px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: -moz-linear-gradient(top, #f6e6b4 0%, #ed9017 100%);
    /* firefox */ /*
    border: solid #ccc 3px;
    box-shadow: 0 1px 2px #fff, 0 -1px 1px #666, inset 0 -1px 1px rgba(0, 0, 0, 0.5), inset 0 1px 1px rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 0 1px 2px #fff, 0 -1px 1px #666, inset 0 -1px 1px rgba(0, 0, 0, 0.5), inset 0 1px 1px rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0 1px 2px #fff, 0 -1px 1px #666, inset 0 -1px 1px rgba(0, 0, 0, 0.5), inset 0 1px 1px rgba(255, 255, 255, 0.8);
    text-shadow: 0 1px 2px #fff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6e6b4), color-stop(100%, #ed9017));
    /* webkit */
    /*font-size:20px
}
span {
} */ 
#grida{
  width: 80%;
}
#gridb{
  width: 20%;
  text-align: center;
  font-weight: bold;
}
#namepricesharer{

}
.name{
  font-weight: bold;
  font-size: 1em;
  padding-top: 100px;
}
#parrafo{
  margin-top: 5px;
  margin-bottom: 5px;

}
.share{
  padding-top: 5px;
  padding-bottom: 5px;
}
#oldshare{
  display: none;
}
#navbar{
  border-bottom: 1px solid white;
  display: none;


}
#fderecha, #fizquierda{
  border: 1px solid aqua;
  font-size: 2em;
  font-weight: bold;
  border-radius: 40px;
  padding: 0px 4px 4px 4px;
  color: aqua;

}
#prevnextbox{
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  text-align: center;

}
#next, #prev{
  padding-top: 10px;
  padding-bottom: 14px;
}
.fderercha,{
  color: white;
}

