@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
#cajadescripcion{
	text-align: center;
	background: #778899;
}
#footer{
	background:#484848;
	text-align: center;
	font-size: 0.7em;

}
#facebook{
	background: #3B5998;
}
#twitter{
	background: #4099FF;
}
#googleplus{
	background: #F90101;
}
#email{
	background: green;
}

.descripcion{
	color: white ;
	font-size: 1em;
	
}
.fontawesome-align-justify{
	font-size: 1.7em;
}
.fontawesome-circle-arrow-right{
	font-size: 1.5em;
}
.fontawesome-circle-arrow-left{
	font-size: 1.5em;
}
.fontawesome-share{
	font-size: 1.5em;
}
.fontawesome-leaf{
	color:red;
	font-size: 
}
.fontawesome-facebook{
	font-size: 1.5em;
}
.fontawesome-twitter{
	font-size: 1.2em; 
}
.platillo{
	font-size: 1.2em;
	color: #ffebcd;
	
}
.precio{
	color:aqua;
	
}
.indicates{
	color:white;
}
