@font-face
   font-family myFirstFont
   src url(face.ttf)
a
  text-decoration: none //le quita el underscore a todos los links
#cajadescripcion
  border-bottom: 1px solid #fff
  text-align: center
  p
      color #333333

.descripcion
  font-size: 16px
  margin-top: 0
  padding-right: 20px
  padding-left: 20px
  color red

.facebook
  background: #3b5998
  border-top: #5f6673
  border-bottom: 1px solid #242a37

.facebook,.twitter
  box-shadow: none
  color: white
  text-align: left
  padding: .7em
  display: block
  font-family: arial
  font-weight: bold
  font-size: 1em

#fderecha,#fizquierda
  border: 1px solid black
  font-size: 1.5em
  font-weight: bold
  border-radius: 100px
  padding: 4px 10px 7px 10px
  margin-top: -50px
  color: black
  box-shadow: 0 1px 2px #fff,0 -1px 1px #666,inset 0 -1px 1px rgba(0,0,0,0.5),inset 0 1px 1px rgba(255,255,255,0.8)

#footer
  background: #4099ff
  font-size: .7em
  text-align: center
  margin-bottom: 0

#grida
  width: 80%

#gridb
  font-weight: bold
  text-align: center
  width: 20%

#next,#prev
  padding-top: 10px
  padding-bottom: 14px


#name
  font-weight: bold
  font-size: 1em
  padding-top: 100px
  color #333333

#panel, #panel2
  background: #333
  border-radius: 1px
  padding: 0

#panel ul a
  color: #c0c0c0


#list
  border-radius: 1px

.twitter
  background: #4099ff
  border-top: 2px solid #5f6673
  border-bottom: 2px solid #242a37

#prevnextbox
  border-top: 1px solid #000
  border-bottom: 1px solid #000
  text-align: center

#page1
  padding: 0
  background: beige

.precio
  color: #808080
  padding left 5px
  margin-top 0px

#parrafo
  margin-top: 5px
  margin-bottom: 5px
  padding-left: 10px
  color #333333

#panel2 h3
  background: #2b343b
  border-radius: 0px
  color white
  text-shadow: none
  border-bottom red
  a:hover
    background #999



.platillo
  color: #ffebcd
  font-size: 1.2em

.cabesa
    background: #4099ff
    height 3em
    .huno
        color white
        font-size 1.5em
        padding-top 0px
        vertical-align top
    a
        color white
        vertical-align bottom
    .botonmenu
        font-size 0.8em
        display block
        margin 0 0 0 0


.indicates
  color: #fff

.share
  padding-top: 3px
  padding-bottom: 5px
  color: #808080

.fderercha,
  color: #fff

.nombre
  font-weight: bold
  text-align: center
  margin-bottom: 0
  margin-top: 0
  font-size: 1.5em

.foto
  max-width: 100%
  height: auto

.lista1 a
  font-size: 1em
  padding: .8em 0 .8em 0
  margin-top: 0
  display: block
  background: #434b5b
  border-bottom: 1px solid #242a37
  color: #c4ccda
  margin: 0
  border-radius: 0
  border-top: #5f6673
  text-align: left
  text-shadow: 0px 0px -1px #c4ccda
  width: 100%

.lista1 a:hover
  background-color: #434b5b

.apanel1 a
  color: #c0c0c0
  border-bottom: 1

.item
  display: block
  background: #434b5b
  border-bottom: 1px solid #242a37
  color: #c4ccda
  text-shadow: none
  margin: 0
  border-radius: 0
  border-top: #5f6673
  text-align: left
  font-size: 5px
  width: 100%

.face
  font-family: myFirstFont
  color: #fff
  font-size: 2em
  vertical-align: middle

.shareico
  margin-top 10px
  color: #808080
  padding-top: 1em
  font-size: 2em


.divider
  color: #c4ccda

.hola 
  background black

.icon-facebook, .icon-twitter
  font-size 1.5em
#popupMenu
  background beige
  padding 0px 0.5em 0.5em 0.5em
  p 
      margin 3px
      text-align center
      color black
      font-weight bold
.menuseccion 
  color #F0F0F0
  margin-bottom 0px
  border-bottom 1px solid #F0F0F0
  text-shadow none
.menudescripcion
  font-size 1em
  color #F0F0F0
  text-shadow
  background-color red
  border-left 2px solid white
  

